@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

:root {
    --bright: #FF3F60;
    --deep: #640B0B;
    --dark: #39191C;
    --light: #FEF4D7;
    --background: #FFF0F0;
}

body {
    background: var(--background);
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 20vh;
    padding: 10px;
    background: var(--bright);
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
}

.header-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 40px;
    color: var(--dark);
}

header img {
    max-height: 70px;
    max-width: 70px;
    padding-bottom: 5px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
}

header button, a {
    color: var(--light);
    margin: 10px;
    padding: 7px;
    transition: 0.4s;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    background: none;
}

header button:hover, a:hover{
    background: var(--deep);
    color: var(--background);
}

header .form {
    width: 40%;
}


header input[type=text] {
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 var(--deep);
    transition: 0.4s;
    width: 100%;
    position: relative;
    padding-right: 50px;
}

input[type=text]:hover {
    box-shadow: 0 0 20px 0 var(--deep);
}

header input[type=submit] {
    background: var(--light);
    font-size: 15px;
    border: none;
    padding: 15px;
    border-radius: 20px;
    transition: 0.4s;
    float: right;
    position: absolute;
    margin-left: -50px;
}

header input[type=submit]:hover {
    background: var(--deep);
    color: var(--background);
}

row:after {
    display: table;
    clear: both;
}


/* __________main section __________*/


.trending {
    padding: 30px;
    border-radius: 20px;
    background: var(--bright);
    max-width: 50%;
    position: relative;
    margin-left: 10%;
    margin-right: -8s0px;
}



.carousel {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--deep);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #f3b2b954;
}

.text {
    color: var(--deep);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: var(--deep);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.main-card,
.section-2-cards {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 20px;
    position: relative;
}

.section-2-cards h2 {
    font-size: 40px;
    border-bottom: 2px solid var(--deep);
}

.recent-movies-card,
.recent-tv-card {
    background: var(--bright);
    padding: 30px;
    font-size: 20px;
    border-radius: 30px;
    color: var(--dark);
    margin: 20px;
    display: flex;
    min-width: 40%;
    flex-direction: column;
}

/*---------------searched section-----------------*/

.upper-cards,
.lower-cards {
    display: flex;
    flex-direction: row;
    margin: 20px;
    position: relative;
    justify-content: space-evenly;
}

/*---------upper cards styling--------*/


/*-----for showtimes section, unsure if it will be used----*/
/* .upper-cards input[type=text] {
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 var(--deep);
    transition: 0.4s;
    width: 100%;
    position: relative;
    padding-right: 50px;
}

input[type=text]:hover {
    box-shadow: 0 0 20px 0 var(--deep);
}

.upper-cards input[type=submit] {
    background: var(--light);
    font-size: 15px;
    border: none;
    padding: 15px;
    border-radius: 20px;
    transition: 0.4s;
    float: right;
    position: absolute;
    margin-left: -50px;
}

.upper-cards input[type=submit]:hover {
    background: var(--deep);
    color: var(--background);
}

.showtime-results {
    display: flex;
    flex-direction: row;
} */

.rental-card {
    display: flex;
    flex-direction: row;
}

.streaming-card,
.rental-card {
    min-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: var(--bright);
    padding: 20px;
    border-radius: 20px;
    color: var(--dark);
    margin: 10px;
}

.streaming-title,
.rental-title {
    font-size: 20px;
    margin: 10px;
    border-bottom: 2px solid var(--dark);
}

.icon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}

.provider-list,
.rental-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#provider-icon {
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

/*--------lower cards styling--------*/

.poster {
    background: var(--bright);
    padding: 10px;
    max-width: 100%;
    border-radius: 20px;
}

.poster .caption {
    text-align: center;
    color: var(--dark);
    font-size: 20px;
}

.poster img {
    border-radius: 20px;
}

.stats-card {
    background: var(--bright);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--dark);
    padding: 20px;
    border-radius: 20px;
    justify-content: space-evenly;
    max-width: 75%;
}

.synopsis {
    padding: 20px;
    font-size: 18px;
}

.cast-card,
.rating-card,
.box-office-card {
    margin: 10px;
    text-align: center;
    border-right: 2px solid rgba(0, 0, 0, 0.276);
    padding-right: 9%;
}

.box-office-card,
.rating-card {
    font-size: 25px;
}
.cast-card h2,
.rating-card h2,
.box-office-card h2 {
    font-size: 30px;
    border-bottom: 2px solid var(--dark);
}

.box-office-card {
    border: none;
    padding-right: 0;
}


footer {
    padding: 0;
    position:relative;
    bottom: 0;
    size: 15px;
    text-align: center;
}

.hide {
    display: none;   
}

#message {
    background-color:#640B0B;
    font-weight: bold;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    color: #FEF4D7;
}

@media screen and (max-width:950px ) {
    .lower-cards,
    .upper-cards {
        flex-direction: column;
        align-items: center;
    }

    header .form {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .cast-card,
    .rating-card,
    .box-office-card {
        border: none;
    }

    .main-card,
    .section-2-cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {

    header {
        display: block;
    }

    .main-card,
    .section-2-cards {
        flex-direction: column;
    }

    .lower-cards,
    .upper-cards {
        flex-direction: column;
    }

    .cast-card,
    .rating-card,
    .box-office-card {
        border: none;
    }

    header .form {
        width: 100%;
    }
}